*{
	padding: :0;
	margin: 0;
}
header{
	width: 100%;
	height: 100vh;
	background-image: url('/static/img/n2.jpg');
	background-size: cover;
	font-family: 'Dosis',sans-serif;
}
.header_menu{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*border: 1px solid red;*/
}
.logo{
	width: 20%;
	text-align: center;

}
.logo img{
	height: 70px;
}
.menu_list{
	width: 80%;
	text-align: right;
	padding-right: 50px;
}
.menu_list li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-left: 50px;
}

.menu_list li a{
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
}

.menu_list li a:hover{
	color: orange;
}

.header_content{
	text-transform: uppercase;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: rgba(255, 255, 255, .8);
	transform: translate(-50%,-50%);
	text-align: center;

}
.header_content h1{
	margin-bottom: 20px;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 0.3em;
	padding-bottom: 60px;
}
.header_content h2{
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.3em;

}

.header_content h3{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.3em;
}

.header_content button{
	height: auto;
	padding: 8px 37px;
	color: #fff;
	font-size: 12px;
	background-color:#696969;
	margin-right: 20px;
	border-radius: 10px;
	margin-top: 15px;
}
.header_content button a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	letter-spacing: 1px;

}

.header_content button:hover{
	background-color:#808080;
	border:1px solid white;
}

.header_content input{
	padding: 10px;
}
.b{
	padding-top: 10px;
}
.T1{
	background-color: lightgray;

}
