<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Stock Price Prediction And Forecasting</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="header_menu">
            <div class="logo">
            	<img src="/static/img/logo.png" alt="Logo">

            </div>
            <div class="menu_list">
                <ul>
                    <li><a href="https://github.com/Kuldeep-Singh-Bithu/Stock-Price-Internship.git">GITHUB</a> </li>
                    <li><a href="https://github.com/Kuldeep-Singh-Bithu/Stock-Price-Internship.git">AboutUS</a> </li>
                </ul>
            </div>
        </div>
        <div class="header_content">
            <h1> stock price prediction </h1>
            <h3> The goal of the project is to predict price changes in the future for a given stock from numeric stock data and financial news headlines.</h3>

            <h2>Enter Values</h2>

            <form action="{{ url_for('predict')}}"method="post">
        <input type="number" step="any" name="Close/Last" placeholder="Close/Last" required="required" />
        <input type="number" step="any" name="Open" placeholder="Open" required="required" />
        <input type="number" step="any" name="High" placeholder="High" required="required" />
        <input type="number" step="any" name="Low" placeholder="Low" required="required" />
        <div class="b">
<button type="submit" class="btn btn-primary btn-block btn-large"><h4>Predict</h4></button>
</div>
    </form>
    <div>
    <br>
    <br>
    <h2>
     {{ prediction_text }}
    </h2>
    </div>

    <div>
    <button id="myButton" class="float-left submit-button" ><h4>News Prediction </h4></button>

   <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/newspred";
    };
    </script>
    </div>


        </div>

    </header>

</body>
</html>
