<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Price Prediction And Forecasting</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
<header>
	<div class="header_menu">
            <div class="logo">
            	<img src="/static/img/logo.png" alt="Logo">

            </div>
            <div class="menu_list">
                <ul>
                    <li><a href="https://github.com/Kuldeep-Singh-Bithu/Stock-Price-Internship.git">GITHUB</a> </li>
                    <li><a href="https://github.com/Kuldeep-Singh-Bithu/Stock-Price-Internship.git">AboutUS</a> </li>
                </ul>
            </div>
        </div>
	<div class="header_content">
		<div><h1> stock price prediction </h1></div>
		<h3>Predicting stock price by using financial news headlines</h3>
		
	<form action='{{ url_for("prediction")}}' method="post">

    <label for="News Headline"><h2>Enter news headlines</h2></label>
    
    <textarea class="T1" type="text" id="headline" name="hdline" placeholder="News Headline" rows="7" cols="50">
    </textarea>
    <div>
    <button type="submit">Predict</button>
    </div>
    </form>


	</div>
</header>
  </body>
  </html>