<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Predicting stock price by using news headlines and past stock price</h1>
    <form action='{{ url_for("prediction")}}' method="post">
    <label for="News Headline">News headline :</label>
    <textarea type="text" id="headline" name="hdline" placeholder="News Headline" rows="7" cols="50">
    </textarea>
    <button type="submit">Predict</button>
<!--        <div>-->
<!--  <button id="myButton" class="float-left submit-button" >Go Back</button>-->

<!--<script type="text/javascript">-->
<!--    document.getElementById("myButton").onclick = function () {-->
<!--        location.href = "/";-->
<!--    };-->
<!--</script>-->
<!--</div>-->
</body>
</html>